.navbar {
  background-color: #BF6A24;
  padding: 1% 0;
  text-align: left;
}

.navbar-username {
  display: inline;
  position: absolute;
  right: 0;
  margin: auto 1%;
}

.logout {
  display: inline;
}